<h1 class="display-6 mt-3">Add New Comment</h1>
  <% if @new_comment.errors.any? %>
    <div class="alert alert-danger">
      <% @new_comment.errors.full_messages.each do |message| %>
        <div> <%= message %></div>
      <% end %>
    </div>
  <% end %>
<%= form_with model: @new_comment, url: user_post_comments_path  do |form|  %>
  <div class="mb-3">
    <%= form.label :Comment ,class: "form-label" %>
    <%= form.text_area :text ,class: "form-control text-area" %>
  </div>
  <%= form.submit "Add new comment" ,class: "btn btn-outline-dark" %>
<% end %>
