<h1>List of all posts</h1>
<section>
  <div class="d-flex justify-content-between">
    <div>
      <img src="<%= @user.photo %>" alt='User Avatar' style="width:20%" />
    </div>
    <div class='flex-grow-1 d-flex justify-content-between align-items-center'>
      <h1><%= @user.name %></h1>
      <div>
        <p>Number of posts: <%= @user.posts_counter || 0 %></p>
        
        <%= link_to "Add post", new_user_post_path(@user.id), class: "d-flex justify-content-center"  %>
      </div>
    </div>
  </div>
  <div class='posts mt-5'>
    <% @posts.each_with_index do |post,index| %>
      <div class="border border-dark p-2 mb-2">
        <a href="posts/<%= post.id%>">
          <h3>post #<%= index+1 %></h3>
        </a>
        <p><%= post.text%></p>
        <div class="d-flex justify-content-end">
          <span>Comments: <%= post.comments_counter || 0 %> </span>
          <span>, Likes: <%= post.likes_counter || 0 %></span>
        </div>
      </div>
      <ul class="comments">
        Comments:
        <% post.recent_five_comments.each do |comment|%>
          <li><%= comment.user.name %> : <%= comment.text %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</section>
