<section class="mt-4">
  <div class="border border-dark p-2 mb-2">
    <div class="d-flex justify-content-between">
      <h3>post #<%= @post.id %> by <%= @post.user.name %></h3>
      <div class="">
        <span>Comments: <%= @post.comments_counter || 0 %> </span>
        <span>, Likes: <%= @post.likes_counter || 0 %></span>
      </div>
    </div>
    <p><%= @post.text%></p>
    <div class="react-bar mt-2 d-flex justify-content-between">
      <%= form_with model: @new_like, url: user_post_likes_path(post_id: @post.id)  do |form|  %>
        <%= form.submit "Add like ðŸ‘" ,class: "react-btn" %>
      <% end %>
      <%= link_to "Add comment ðŸ’¬", new_user_post_comment_path(user_id: @post.user_id, post_id: @post.id ) %>
    </div>
  </div>
  <ul class="comments">
    Comments:
    <% @comments.each do |comment|%>
      <li><%= comment.user.name %> : <%= comment.text %></li>
    <% end %>
  </ul>
</section>
